<template>
    <input
        type="radio"
        @click="tickBox"
        v-model="pick"
        v-bind:value="true"
    >
</template>

<script>
export default {
    name: 'InputBox',

    data () {
        return {
            pick: false,
        };
    },

    methods: {
        /**
         * Set tickboc to true/false and emit choice to parent form.
         */
        tickBox() {
            this.pick = !this.pick;
            this.$emit('tickBox', this.pick);
        },
    },
}
</script>
