<template>
    <select
        v-model=selected
        @change='selectOption'
    >
        <option
            v-for="(option, index) in options"
            :key="index"
        >
            {{ option }}
        </option>
    </select>
</template>

<script>
export default {
    name: 'Dropdown',

    props : {
        options: {
            type: Array,
            required: true,
        },
    },

    data () {
        return {
            selected: '',
        };
    },

    methods: {
        /**
         * Emit selected choice to parent form.
         */
        selectOption() {
            this.$emit('selected', this.selected);
        },
    },
}
</script>
