<template>
    <div>
        <h1>AtomGYM LTD</h1>
        <div 
            v-if="!summaryPage && !paymentPage"
        >
            <h3>Subscription form</h3>
            <p>Select Gym</p>
            <Dropdown
                :options=gymNames
                @selected='setGym'
            />
            <div
                v-if="gymSelected"
            >
                <p>Select gym plan</p>
                <Dropdown
                    :options=gymPlans
                    @selected='setMembership'
                />
            </div>
            <div
                v-if="membershipPlan"
            >
                <p>Gym Price: {{ gymPrices }}</p>
            </div>
            <div>
                <p>Enter name</p>
                <InputBox
                    fieldName='name'
                    :regex=nameRegex
                    @fieldComplete='setName'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter surname</p>
                <InputBox
                    fieldName='surname'
                    :regex=nameRegex
                    @fieldComplete='setSurname'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter email</p>
                <InputBox
                    fieldName='email'
                    :regex=emailRegex
                    @fieldComplete='setEmail'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter phone number</p>
                <InputBox
                    fieldName='phone number'
                    :regex=phoneRegex
                    @fieldComplete='setPhoneNumber'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter Address</p>
                <InputBox
                    fieldName='address'
                    :regex=addressRegex
                    @fieldComplete='setAddress'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter Postcode</p>
                <InputBox
                    fieldName='postcode'
                    :regex=postcodeRegex
                    @fieldComplete='setPostcode'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Enter Age</p>
                <InputBox
                    fieldName='age'
                    :regex=ageRegex
                    @fieldComplete='setAge'
                    @formError='setFormNotValid'
                />
            </div>
            <div>
                <p>Terms &amp; Conditions</p>
                <CheckBox
                    @tickBox='setTermsAndConditions'
                />
            </div>
            <div>
                <p>Newsletter signup</p>
                <CheckBox
                    @tickBox='setNewsletter'
                />
            </div>
            <button
                v-if=formComplete
                @click='openSummaryPage'
            >
                Submit
            </button>
        </div>
        <div
            v-if="summaryPage && !paymentPage"
        >
            <h3>Summary page</h3>
            <p>Gym Selected: {{ gymSelected }}</p>
            <p>Membership Plan: {{ membershipPlan }}</p>
            <p>Name: {{ name }}</p>
            <p>Surname: {{ surname }}</p>
            <p>Email: {{ email }}</p>
            <p>Phone Number: {{ phoneNumber }}</p>
            <p>Address: {{ address }}</p>
            <p>Postcode: {{ postcode }}</p>
            <p>Terms And Conditions: {{ termsAndConditions }}</p>
            <p>Newsletter: {{ newsletter }}</p>
            <button
                @click='openFormPage'
            >
                Back
            </button>
            <button
                @click='openPaymentGateway'
            >
                Payment confirmation page
            </button>
        </div>
        <div
            v-if="paymentPage && !summaryPage"
        >
            <StripePayment
                :priceIds="gymPriceIds"
                :paymentAmount="gymPrices"
            />
        </div>
    </div>
</template>

<script>
import Dropdown from './Dropdown.vue';
import InputBox from './InputBox.vue';
import CheckBox from './CheckBox.vue';
import StripePayment from './StripePayment.vue';
import gymData from '../api.js';

export default {
    name: 'Form',

    data() {
        return {
            gymData: gymData,
            gymSelected: '',
            membershipPlan: '',
            name: '',
            surname: '',
            email: '',
            phoneNumber: '',
            address: '',
            postcode: '',
            age: '',
            termsAndConditions: false,
            newsletter: false,
            nameRegex: /^[a-z ,.'-]+$/i,
            emailRegex: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
            phoneRegex: /^(((\+44\s?\d{4}|\(?0\d{4}\)?)\s?\d{3}\s?\d{3})|((\+44\s?\d{3}|\(?0\d{3}\)?)\s?\d{3}\s?\d{4})|((\+44\s?\d{2}|\(?0\d{2}\)?)\s?\d{4}\s?\d{4}))(\s?(\d{4}|\d{3}))?$/,
            addressRegex: /^\s*\S+(?:\s+\S+){2}/,
            postcodeRegex: /^[A-Z]{1,2}[0-9]{1,2} ?[0-9][A-Z]{2}$/i,
            ageRegex: /^(?:1[01][0-9]|120|1[8-9]|[2-9][0-9])$/,
            formValid: false,
            summaryPage: false,
            paymentPage: false,
        };
    },

    computed: {
        /**
         * Return an array of gym names
         * @return {Array}
         */
        gymNames() {
            return Object.values(this.gymData.gyms)
                .map(({ name }) => {
                    return name;
                })
        },

        /**
         * Return an array of gym plans for the selected gym name
         * @return {Array}
         */
        gymPlans() {
            return Object.values(this.gymData.gyms)
                .find(({ name }) => name === this.gymSelected)
                .plans
                .map(({ name }) => {
                    return name;
                })
        },

        /**
         * Return the price of selected gym plan
         * @return {Number}
         */
        gymPrices() {
            return Object.values(this.gymData.gyms)
                .find(({ name }) => name === this.gymSelected)
                .plans
                .find(({ name }) => name === this.membershipPlan)
                .price;
        },

        /**
         * Return the selected gym plans priceId
         * @return {String}
         */
        gymPriceIds() {
            return Object.values(this.gymData.gyms)
                .find(({ name }) => name === this.gymSelected)
                .plans
                .find(({ name }) => name === this.membershipPlan)
                .priceId;
        },

        /**
         * Check if the form has been completed
         * @return {Boolean}
         */
        formComplete() {
            if(this.gymSelected &&
                this.membershipPlan &&
                this.name &&
                this.surname &&
                this.email &&
                this.phoneNumber &&
                this.address &&
                this.postcode &&
                this.age &&
                this.termsAndConditions &&
                this.formValid
            ) {
                return true;
            }
            else {
                return false;
            }
        },
    },

    methods: {
        /**
         * Set the selected gym in the form data
         * @param {String}
         */
        setGym(payload) {
            this.gymSelected = payload;
        },

        /**
         * Set the selected membership plan in the form data
         * @param {String}
         */
        setMembership(payload) {
            this.membershipPlan = payload;
        },

        /**
         * Set the name in the form data
         * @param {String}
         */
        setName(payload) {
            this.name = payload;
        },

        /**
         * Set the surname in the form data
         * @param {String}
         */
        setSurname(payload) {
            this.surname = payload;
        },

        /**
         * Set the email in the form data
         * @param {String}
         */
        setEmail(payload) {
            this.email = payload;
        },

        /**
         * Set the phone number in the form data
         * @param {Number}
         */
        setPhoneNumber(payload) {
            this.phoneNumber = payload;
        },

        /**
         * Set the address in the form data
         * @param {String}
         */
        setAddress(payload) {
            this.address = payload;
        },

        /**
         * Set the postcode in the form data
         * @param {String}
         */
        setPostcode(payload) {
            this.postcode = payload;
        },

        /**
         * Set the age in the form data
         * @param {Number}
         */
        setAge(payload) {
            this.age = payload;
        },

        /**
         * Set the terms and conditions in the form data
         * @param {Boolean}
         */
        setTermsAndConditions(payload) {
            this.termsAndConditions = payload;
        },

        /**
         * Set the newsletter in the form data
         * @param {Boolean}
         */
        setNewsletter(payload) {
            this.newsletter = payload;
        },

        /**
         * If the any inputs show an error set form to invalid
         * @param {Boolean}
         */
        setFormNotValid(payload) {
            this.formValid = payload;
        },

        /**
         * Open form section and hide other sections
         */
        openFormPage() {
            this.summaryPage = false;
            this.paymentPage = false;
        },

        /**
         * Open summary section and hide other sections
         */
        openSummaryPage() {
            this.summaryPage = true;
            this.paymentPage = false;
        },

        /**
         * Open payment gateway section and hide other sections
         */
        openPaymentGateway() {
            this.summaryPage = false;
            this.paymentPage = true;
        },
    },

    components: {
        Dropdown,
        InputBox,
        CheckBox,
        StripePayment,
    },
}
</script>

