<template>
    <div>
        <input
            v-model=text
        >
        <h1
            v-if="error"
        >
            Please enter a valid {{ fieldName }}
        </h1>
    </div>
</template>

<script>
export default {
    name: 'InputBox',

    props: {
        regex: {
            type: RegExp,
            required: true,
        },

        fieldName: {
            type: String,
            required: true,
        },
    },

    data () {
        return {
            text: "",
            error: false,
        };
    },

    methods: {
        /**
         * Check if text is valid against regex, than emit result to parent form
         * @param {any} value
         */
        validateText(value) {
            this.error = !this.regex.test(value);
            this.$emit('formError', !this.error);
        },
    },

    watch: {
        /**
         * Run validatation on text whenever it changes and emit change to parent form
         * @param {any} value
         */
        text(value) {
            this.validateText(value);
            if(this.error) {
                this.$emit('fieldComplete', '');
            }
            else {
                this.$emit('fieldComplete', value);
            }
        },
    },
}
</script>
