<template>
    <div>
        <stripe-checkout
            ref="checkoutRef"
            mode="payment"
            :pk="publishableKey"
            :line-items="lineItems"
            :success-url="successURL"
            :cancel-url="cancelURL"
            @loading="v => loading = v"
        />
        <p>You will be charged £{{ paymentAmount }}</p>
        <button
            @click="submit"
        >
            Click here to pay now
        </button>
    </div>
</template>

<script>
import { StripeCheckout } from '@vue-stripe/vue-stripe';
import endpoints from '@/config/endpoints.js';

export default {
    name: 'StripePayment',

    props: {
        priceIds: {
            type: String,
            required: true,
        },

        paymentAmount: {
            type: Number,
            required: true,
        },
    },
    
    data () {
        this.publishableKey = process.env.VUE_APP_STRIPE_PK;
        return {
            loading: false,
            lineItems: [
                {
                    price: this.priceIds,
                    quantity: 1,
                },
            ],
            successURL: endpoints.success,
            cancelURL: endpoints.failure,
        };
    },

    methods: {
        /**
         * You will be redirected to Stripe's secure checkout page
         */
        submit () {
            this.$refs.checkoutRef.redirectToCheckout();
        },
    },

    components: {
        StripeCheckout,
    },
}
</script>